<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.disney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Disney"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Disney_Time02">
        <activity
            android:name="com.example.disney.Movie_fy"
            android:exported="false" />
        <activity
            android:name="com.example.disney.Movie_Page"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.example.disney.R_food"
            android:exported="false" />
        <activity
            android:name="com.example.disney.R_character"
            android:exported="false" />
        <activity
            android:name="com.example.disney.R_role"
            android:exported="false" />
        <activity
            android:name="com.example.disney.R_princess"
            android:exported="false" />
        <activity
            android:name="com.example.disney.About"
            android:exported="false" />
        <activity
            android:name="com.example.disney.Instructions"
            android:exported="false" />
        <activity
            android:name="com.example.disney.Music"
            android:exported="false" />
        <activity
            android:name="com.example.disney.My_Saves"
            android:exported="false" />
        <activity
            android:name="com.example.disney.Invite_Friend"
            android:exported="false" />
        <activity
            android:name="com.example.disney.MINI_Games"
            android:exported="false" />
        <activity
            android:name="com.example.disney.Movie_Search"
            android:exported="false" />
        <activity
            android:name="com.example.disney.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.disney.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.disney.StartActivity"
            android:exported="false" />
        <activity
            android:name="com.example.disney.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.disney.MyService" />

        <meta-data
            android:name = "keyValue"
            android:value = "${KEY}"/>

    </application>

</manifest>